<% content_for :title, "Dairy of #{@team.name}" %>

<div class="container">
<header class="banner">
  <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
  Team Dairy
</header>

<div class="content">
  <div class="team-name"><h1><%= @team.name %> Team</h1></div>

  <div class="latest-events">
    <div class="subtitle">Latest events</div>
  </div>

  <div class="new-event">
    <div class="subtitle">Add new event</div>
  </div>

  <div class="time-line">
    <div class="subtitle">Team time line</div>
  </div>

  <div class="likes list">
    <div class="subtitle">Likes List</div>
    <table>
      <% @team.users.each do |user| %>
        <tr id="user-<%= user.id %>">
          <td><%= user.name %></td>
          <td><button type="button" onclick="add_one_like(<%= user.id %>);">like</button></td>
          <td class="like"><%= user.like %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
</div>