<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<div class="time-line">
  <table>
    <thead>
    <section id="cd-timeline" class="cd-container">
      <% @events.each do |event| %>
        <div class="cd-timeline-block">
          <div class="cd-timeline-img cd-picture">
            <%= image_tag "cd-icon-picture.svg" %>
          </div>
          <div class="cd-timeline-content">
            <p><%= event.message %><p>
            <span class="cd-date"><%= event.created_at %></span>
          </div>
        </div>
      <% end %>
    </section>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Event', new_event_path %>
